<footer class="bg-gray-800 text-white p-4">
  <div class="container mx-auto">
      <div class="flex justify-between items-center h-full">
          <!-- Footer Content -->
          <div class="flex flex-col">
              <p>&copy; Market</p>
              <a href="{% url "core:contact" %}" class="text-teal-500">Contact us</a>
          </div>

          <!-- Social Media Icons -->
          <div class="flex space-x-4">
              <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-facebook"></i></a>
              <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>
</footer>