{% extends "core/base.html" %}

{% block main %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h2 class="text-2xl font-semibold mb-6">Log in</h2>
      <form method="post" action=".">
          {% csrf_token %}
          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% endif %}

          <div class="mb-6">
              <label for="username" class="block text-sm font-medium text-gray-600">Username</label>
              {{ form.username }}
              {% if form.username.errors %}
                <div class="text-red-400 text-sm"> {{ form.username.errors }}</div>
              {% endif %}
          </div>

          <div class="mb-6">
              <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
              {{ form.password }}
              {% if form.password.errors %}
                <div class="text-red-400 text-sm"> {{ form.password.errors }}</div>
              {% endif %}
          </div>

          {% if form.non_field_errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 mb-4 rounded">
              {{ form.non_field_errors }}
            </div>
          {% endif %}

          <button type="submit"
              class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
              Log in
          </button>
      </form>

      <div class="mt-4">
          <p class="text-sm text-gray-600">Dont have an account? <a href="{% url "core:signup" %}" class="text-blue-500">Sign up</a></p>
      </div>
  </div>
</div>
{% endblock  %}